<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>States</title>
</head>
<body>
    <H1>
        States
    </H1>
    <UL>
        {% for k, v in states.items() %}
        <LI>{{ k.id }}: <B>{{ k.name }}</B>
            <UL>
                {% for city in v %}
                <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                {% endfor %}
            </UL>
        </LI>
        {% endfor %}
    </UL>
</body>
</html>